.plan-container{
  padding-top: 100px;
  width: 100%;
}

.plan {
  width: 1000px;
  margin: auto;
}

.plan .title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 2em; 
  text-align: center;
  width: 100%;
}